h1 {
    padding: 20px;
    margin:  0;
    color: #ffffff;
    font-size: 28px;
    float: left;
    background-color: #4aaaa5;
    margin-left: 0%;
    font-family: Georgia, Times, "Times New Roman", serif;
}

header {
    background: #ffffff;
    overflow: auto;
    margin-bottom: 80px;
    font-family: Georgia, Times, "Times New Roman", serif;
    border-bottom: 2px;
    border-style: solid;
    border-color: #cccccc;
}

h2 {
    padding: 20px;
    margin: 0;
    color: #777777;
    font-size: 20px;
    text-align: right;
    float: right;
    margin-right: 0%;
    font-family: Georgia, Times, "Times New Roman", serif;
    
 }

body {
    background: url('C:/Users/Ricky/Desktop/bootcamp/01-Homework/GitHub/My-Basic-Portfolio/assets/images/concrete_seamless/concrete_seamless.png');
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
footer {
    padding: 15px;
    background: #666666;
    margin-top: 80px;
    text-align: center;
    border-style: solid;
    border-top-width: 8px;
    border-color: #4aaaa5;
    color: #777777;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }